<div class="container">
    <div class="row my-5">
        <div class="col-lg-6 my-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Lorem Ipsum</h1>
                    <hr>
                    <p>Lorem ipsum dolor sit amet. In aperiam eius sit minus voluptatem qui laboriosam
                        rerum
                        id
                        iure Quis ex neque nemo sed odit modi! Ut molestiae delectus qui provident magnam qui dolor
                        omnis
                        sit
                        iure nihil et iste alias in ratione cumque aut officiis recusandae. Sed quisquam provident eos
                        accusantium exercitationem id deserunt quos ut iure galisum et amet galisum.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 my-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Lorem Ipsum</h1>
                    <hr>
                    <p class="p-text">Lorem ipsum dolor sit amet. In aperiam eius sit minus voluptatem qui laboriosam
                        rerum
                        id
                        iure Quis ex neque nemo sed odit modi! Ut molestiae delectus qui provident magnam qui dolor
                        omnis
                        sit
                        iure nihil et iste alias in ratione cumque aut officiis recusandae. Sed quisquam provident eos
                        accusantium exercitationem id deserunt quos ut iure galisum et amet galisum.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row justify-content-center py-5 sec">
    <div class="col-10">
        <div class="card text-center">
            <div class="card-header">
                Lorem Ipsum
            </div>
            <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">Lorem ipsum dolor sit amet. In aperiam eius sit minus voluptatem qui laboriosam
                    rerum
                    id
                    iure Quis ex neque nemo sed odit modi! Ut molestiae delectus qui provident magnam qui dolor
                    omnis
                    sit
                    iure nihil et iste alias in ratione cumque aut officiis recusandae. Sed quisquam provident eos
                    accusantium exercitationem id deserunt quos ut iure galisum et amet galisum.</p>
                <%= link_to 'Cadastre-se', new_user_registration_path , class:"btn btn-primary"%>
            </div>
            <div class="card-footer text-muted">
                Lorem Ipsum
            </div>
        </div>
    </div>
</div>