/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html,
body {
    height: 100%;
}

.web_bg {
    background-color: #35393B;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono';
    background-color: #E8E6D4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5A7566;
    font-family: 'Bevan';
    //padding-bottom: 25px;
}

.p-text {
    font-size: 16px;
    //padding-bottom: 25px;
    text-align: justify;
}



hr {
    border-width: 10px;
    border-color: #809C8C;
}

.content {
    padding: 75px 0;
    flex: 1 0 auto;
    //background-color: #35393B;
}

#text-inst {
    line-height: 24px;
}

.navbar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #5A7566;
}

.nav-link{
    color: #E8E6D4;
}

.navbar-brand {
    font-family: 'Bevan';
    color: #E8E6D4;
}

.navbar-brand:hover {
    color: #C2BFA7;
}

.nav-item {
    padding-right: 10px;
}

.btn {
    font-size: 16px;
    font-weight: 300;
}


#signup_button{
    background-color: #809C8C;
    border-color: #809C8C;
}


.btn-info{

}

.btn-primary:hover {
    background-color: #A9C2B3;
    border-color: #A9C2B3;
}

.footer_config {
    flex-shrink: 0;
    padding-top: 75px;
    height: 50px;
    background-color: #CED6B7;

}
.sec{
    background-color: #35393B;
}
@media (max-width: 820px)
{
    .table_config{
        width: 100vw;
        overflow-x: scroll;
    }
}


 